body {
	font-family: "Montserrat";
}
.navbar {
	padding: 0;

}
.navbar {
	border-radius: 40px 0 40px 0;
}
.navbar-brand {
	margin-left: 10px;
	position: relative;
	align-items: center;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	box-shadow: inset  2px 2px 6px  rgba(255, 255, 255, 0.75),
				inset  2px 2px 8px  rgba(255, 255, 255, 0.50),
				inset  2px 2px 8px  rgba(255, 255, 255, 0.10),
                  -2px -2px 6px  rgba(0, 0, 0, 0.20);
}
.navbar-logo {
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 80%;
	height: 80%;
	padding-top: 4px;
	padding-right: 4px;
}
.neu-navbar {
	padding-top: 8px;

}

.navbar-toggler {}
.navbar-toggler-icon {}
.navbar-nav {
	margin-left: auto;
	padding-left: 0px;

}
.navbar-nav


.nav-item {
	width: 170px;
	background-size: 110px 40px;
	border-radius: 50px;
	box-shadow: inset 20px 20px 60px #222621,
            	inset -20px -20px 60px #889a83;
}
.nav-link:first-child {
    padding-left: 0px;

}
.fa, .fab,.fal, .fas{
	padding-left: 0px;
    padding-right: 15px;
} 
.nav-link {

}
.navbar-dark .navbar-brand {
}
.fa, .fab, .fas, .nav-link, .navbar-dark .navbar-brand,.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fadcaa;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(250, 220, 170);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(250, 220, 170, 0.75);
}
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(250, 220, 170, 0.25);
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fadcaa;
}
.navbar-dark .navbar-toggler {
  color: rgba(250, 220, 170, 0.55);
  border-color: rgba(250, 220, 170, 0.1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28250, 220, 170, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-text {
  color: rgb(250, 220, 170);
}

.donate-btn {
	color: #fff;
	background-color: #f08a5d;
	border-color: #f08a5d;
	margin-left: 70px;
	margin-right: 10px;
	width: 136px;
	border-radius: 18px;
}
.donate-btn:hover, .donate-btn:focus {
  color: #f08a5d;
  background-color: #fff;
  border-color: #f08a5d;
}
/***************Background Color****************/
 .navbar, .navbar-brand, .navbar-logo, .nav-item, .footer {
	background-color: #556052;
}
/***************Introductory Section*****************/
.intro-note {
	box-sizing: border-box;
	display: block;
	padding: 100px 20% 7%;
}

.intro-note-heading {
	font-family: "Sacramento" ;
	font-size: 3.5rem;
	color: #556052;
}

/***************Main Content*****************/
.intro {
	padding-top: 90px;
	align-self: center;
	height: 200px;
	opacity: 0.28;
}
.intro>h1 {
	margin-bottom: 0px;
	color: #fff;
	font-size: 70px;
}
.carousel {
    padding: 4% 15%;
}
#carousel-main-content {
	padding-right: 250px;
	padding-left: 250px;
	padding-top: 0px;
}
.carousel-item {
}

.carousel-image {
    height: 500px;
    margin-top: 10px;

}
.intro, .intro-note, .carousel {
	background-color: #8db596;
}

.intro, .intro-note-heading, .footer {
    text-align: center;
}

/************Footer************/

.footer {
    padding: 4% 15%;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.social-icons {
    margin: 20px 15px;
    padding-top: 40px;
}
.social-icons .fa, .social-icons .fab {
    color: rgb(255, 255, 255);
}
.social-icons .fa:hover, .social-icons .fab:hover {
    color: rgb(255, 255, 255);

}
.footer>p {
	line-height: 5.0;
}

/*****************Responsive Viewport**********************/
@media (min-width: 576px) {
.navbar-logo {
}
}

@media (min-width: 768px) {

	}
}
}